/* 样式规范说明： 
 *文件引入：外联引入(display:none除外)，不使用@import
 *编码：UTF-8 
 *flexnav布局 
 *注释规范：块状注释，缩进1格，位于注释内容上方；单行注释，注释文字两侧加空格，位于注释内容上方；行内注释，位于分号后面，注释文字两侧加空格
 *命名规范：语义化命名，g-前缀为布局样式，m-前缀为模块样式，f-前缀为模块中具有多态的元素 j-为功能性样式。
 *选择器规范：元素 + 元素的父元素 + 最外层容器，若父元素与最外层容器相同，则只写两个选择器。
 */

/* 顶部提示栏 */
.g-header .m-flexnav{height: 36px; background: url(../image/sprite2.png) 0 -334px repeat-x;}
.g-header .content-fix{width: 1206px; height: 100%; padding: 9px 0; margin: 0 auto; box-sizing: border-box; line-height: 18px;}
.g-header .m-flexnav .ltext{float: left; height: 18px;}
.g-header .m-flexnav .rtext{float: right; text-indent: 15px; cursor: pointer; background: url(../image/sprite.png) -356px -22px no-repeat;}

/* 固定导航布局 */
.g-nav{width: 1206px; height: 90px; margin: 0 auto; padding: 32px 0 36px 0; box-sizing: border-box;line-height: 22px; background-color: #FFFFFF;}
.g-nav .logo{font-family: "冬青黑体简体中文 W3" !important;}
.g-nav h1{float: left; height: 22px; padding-left: 84px;vertical-align: baseline; font-size: 22px; background: url(../image/sprite.png) -339px -149px no-repeat; color: #333333;}
.g-nav .m-focus{float: left; height: 22px;}
.g-nav .f-focus{width: 32px; height: 22px; cursor: pointer; padding-left: 22px; margin-left: 31px; margin-right: 14px; color: #FEFEFE; background: url(../image/sprite.png) -7px -25px no-repeat;}
.g-nav .f-focused{float: left; width: 106px; height: 22px; margin-left: 30px; margin-right: 14px; line-height: 22px; background: url(../image/sprite2.png) no-repeat;}
.g-nav .f-ltfocus{margin-left: 23px;}
.g-nav .f-focused .f-cancel{float: right; margin-right: 8px;}
.g-nav .m-focus .f-num{float: left; color: #535353;}
.g-nav .m-focus p{float: left;}
.g-nav .nav{float: right; height: 22px; font-size: 16px;}
.g-nav .nav a{float: right; margin-left: 55px; color: #666666;}
.g-nav .nav .search{width: 18px; height: 18px; margin-right: 14px; margin-left: 30px; background: url(../image/sprite.png) -271px -27px no-repeat;}
/* 导航栏hover样式 */
.g-nav .f-focus:hover{background: url(../image/sprite.png) -7px -1px no-repeat;}
.g-nav .f-focused:hover{background: url(../image/sprite2.png) 0 -25px no-repeat;}
.g-nav .f-cancel:hover{color: #209845; cursor: pointer; text-decoration: underline;}
.g-nav .nav a:hover{color: #309324;}
.g-nav .nav .search:hover{background: url(../image/sprite.png) -271px -3px no-repeat;}

/* m-tpbd上半部主体布局 */
/* m-slide轮播头图布局 */
.g-tpbd{overflow: hidden;}
/* 下面的样式，使用相对布局，右移父元素宽的一半，再利用margin移回原位，则使得图片可以从两侧等量消失在窗口外 */
.g-tpbd .m-slide{position: relative; left: 50%; width: 1616px; height: 460px; margin-left: -808px; margin-top: 0px;}
.g-tpbd .m-slide .f-img{width: 100%; height: 100%;}
.g-tpbd .m-slide .f-slide{position: absolute; left: 50%; bottom: 20px; height: 10px; margin-left: -26px;}
.g-tpbd .f-slide i{float: left; width: 10px; height: 10px; background-color: white; border-radius: 50%;}
.g-tpbd .f-slide i+i{margin-left: 11px;}

/* m-prdt布局 */
.g-tpbd .m-prdt{height: 298px;}

/* 产品信息布局 */
.g-tpbd .m-prdt .prdt{height: 100%; width: 1206px; margin: 0 auto;}
.g-tpbd .m-prdt .f-list{float: left; width: 424px; height: 100%;}
.g-tpbd .f-list .f-image{float: left; width: 86px; height: 100%; margin-right: 20px;}
.g-tpbd .f-image .image{width: 81px; height: 81px; margin-left: 5px; margin-top: 67px; background: url(../image/sprite.png) -4px -111px no-repeat;}
.g-tpbd .f-list .f-side{overflow: hidden; height: 100%;}
.g-tpbd .f-side .f-title{height: 22px; margin-top: 61px; line-height: 22px; font-size: 22px;}
.g-tpbd .f-side .f-para{width: 238px; height: 98px; margin-top: 20px; font-size: 14px; line-height: 24px; text-align: justify;}
.g-tpbd .f-side .f-more{float: left; height: 14px; margin-top: 35px; font-size: 14px; line-height: 14px;}
/* 了解更多，hover时显示下划线 */
.g-tpbd .f-side .f-more:hover{text-decoration: underline;}

/* 工作环境展示布局 */
.g-tpbd .m-envt{position: relative; left: 50%; margin-left: -808px;/* 为了使图片从两边对称离开窗口 */ width: 1616px; height: 220px; background: #F6F6F6;}
.g-tpbd .m-envt .f-evnt{margin-right: 4px;}

/* m-mbd布局 */
.g-mbd{text-align: left; background-color: #F6F6F6;}
.g-mbd .j-middle{width: 1206px; margin: 0 auto;}
/* 左侧课程列表 */
.g-mbd .left-fix{float: left; width: 100%; margin-right: -226px;}
.g-mbd .m-left{height: 1470px; margin-right: 248px; padding-top: 81px;}
.g-mbd .m-left .f-tab{width: 400px; height: 50px; color: #656565; box-shadow: 1px 1px 2px #ecebeb, -1px 1px 2px #ecebeb;}
.g-mbd .f-tab .lf-tab,
.g-mbd .f-tab .rt-tab{width: 200px; height: 50px; text-align: center; font-size: 20px; line-height: 22px; 
							  padding-top: 14px; padding-bottom: 14px; margin-bottom: 21px; cursor: pointer; box-sizing: border-box;
	                          background: url(../image/sprite.png) -208px -50px no-repeat;
							 }
.g-mbd .f-tab .lf-tab{float: left;}
.g-mbd .f-tab .rt-tab{float: right;}

.g-mbd .m-left .f-tab:hover{box-shadow: 1px 1px 4px #C1BEBF;}
.g-mbd .f-tab .lf-tab:hover,
.g-mbd .f-tab .rt-tab:hover{color: #F5FAF3; background: url(../image/sprite.png) -8px -50px no-repeat;}

/* 课程列表布局 */
.g-mbd .m-left .cl-list{display: block; width: 980px; height: 1235px; margin-bottom: 21px; overflow: hidden;}
.g-mbd .cl-list .cl-item{float: left; margin-right: 20px; margin-bottom: 20px; width: 225px; height: 227px; background-color: #ffffff;}
.g-mbd .cl-item .container{width: 225px; height: 227px;}
.g-mbd .cl-item .cl-class,
.g-mbd .cl-item .cl-description{display: none;}
.g-mbd .cl-item .cl-data{margin-left: 5px; margin-top: 4px;}
.g-mbd .cl-item .cl-img{width: 225px; height: 124px;}
.g-mbd .cl-item .j-space{margin-top: 6.6px;}
.g-mbd .cl-item .cl-provider{color: #bbbbbb;}
.g-mbd .cl-item .cl-title{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.g-mbd .cl-item .cl-price{color: #ff3f00;}
.g-mbd .cl-item .cl-num{display: inline-block; height: 18px; text-indent: 17px; line-height: 18px; color: #bbbbbb;
						border: 1px solid #dddddd; border-radius: 2px; background: url(../image/sprite2.png) -228px -21px no-repeat;
						}

/* 左侧页面选择 */
.g-mbd .m-left .f-page{float: right; margin-top: 11px; height: 20px;}
.g-mbd .m-left .lt-page,
.g-mbd .m-left .rt-page{cursor: pointer; width: 30px; height: 20px;}
.g-mbd .m-left .lt-page{float: left; margin-right: 10px; background: url(../image/sprite.png) -167px -18px no-repeat;}
.g-mbd .m-left .rt-page{float: right; background: url(../image/sprite.png) -313px -16px no-repeat;}
.g-mbd .m-left .page-num{float: left; margin-right: 10px; width: 20px; height: 20px; color: #666666; cursor: pointer; text-align: center;
						 font-size: 14px; line-height: 20px;
						}

.g-mbd .m-left .page-num:hover{color: #F9FDFA !important; background: url(../image/sprite.png) -203px -18px no-repeat;}

/* 右侧热门推荐 */
.g-mbd .m-right{float: left; width: 226px; position: relative;}
.g-mbd .m-right .f-video{width: 100%; height: 229px; margin-top: 84px; margin-bottom: 20px; line-height: 22px;
						 color: #333333; background-color: #ffffff;	box-shadow: 1px 1px 2px #ecebeb, -1px 1px 2px #ecebeb;}
.g-mbd .f-video .f-top{width: 206px; height: 38px; padding-left: 20px; padding-top: 17px; font-size: 16px; border-bottom: 1px solid #dddddd;}
.g-mbd .f-video .f-show{padding-left: 23px; padding-top: 18px; font-size: 14px; color: #666666;}
.g-mbd .m-right .f-video .f-cover{margin-left: 23px; cursor: pointer;}

.g-mbd .m-right .f-video:hover{box-shadow: 1px 1px 4px #C1BEBF;}

/* 视频播放界面 */
.m-video{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); text-align: center;}
.m-video .video-align,
.m-video .video-wrap{display: inline-block; vertical-align: middle;}
.m-video .video-align{height: 100%; width: 1px; line-height: 100%;}
.m-video .video-wrap{position: relative; text-align: left; width: 950px; height: 678px; background-color: white;}
.m-video .video-wrap .video-head{font-size: 18px; line-height: 28px; font-weight: bold;}
.m-video .video-head .video-title{float: left; margin-left: 30px; margin-top: 25px;}
.m-video .video-head .video-close{float: right; margin-top: 13px; margin-right: 12px; width: 10px; height: 10px; cursor: pointer; background: url(../image/sprite.png) -355px -7px no-repeat;}
.m-video .video-wrap .video-body{width: 890px; height: 500px; margin-left: 30px; margin-top: 35px;}

/* 最热排行 */
.m-right .f-list{width: 100%; height: 778px; color: #333333; font-size: 16px; line-height: 22px; background-color: #ffffff; overflow: hidden; box-shadow: 1px 1px 2px #ecebeb, -1px 1px 2px #ecebeb;}
.m-right .f-list .up{width: 206px; height: 39px; padding-left: 20px; padding-top: 17px; border-bottom: 1px solid #dddddd;}
.m-right .f-list .li-10{display: block; margin-top: 19px; margin-left: 20px; width: 206px; height: 702px;}
.m-right .li-10 .f-item{width: 206px; height: 70.2px;}
.m-right .f-item .top-image{width: 50px; height: 50px; float: left;}
.m-right .f-item .right{margin-left: 12px; float: left; font-size: 14px; line-height: 16.8px;}
.m-right .f-item .title{width: 123px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #333333;}
.m-right .f-item .number{margin-top: 10.2px; width: 53px; height: 17px; color: #333333; text-indent: 15px; background: url(../image/sprite2.png) -228px -21px no-repeat;}

.m-right .f-list:hover{box-shadow: 1px 1px 4px #C1BEBF;}

/* footer布局 */
.g-footer{height: 262px; background: url(../image/sprite2.png) 0 -55px repeat-x;}
.g-footer .m-bottom{position: relative; width: 1206px; height: 100%; margin: 0 auto; color: #919394; font-size: 14.58px; line-height: 29.17px;}
.g-footer .m-bottom a{display: block; color: #919394;}
.g-footer .m-bottom p{font-size: 12.5px;}
.g-footer .m-bottom .f-logo{position: absolute; height: 22px; padding-left: 84px; left: 50px; top: 95px; line-height: 22px; color: #309324; font-size: 22px; background: url(../image/sprite.png) -339px -149px no-repeat;}
.g-footer .m-bottom .f-copyright{position: absolute; top: 143px; left: 50px; font-size: 12.5px; line-height: 25px;}
.g-footer .m-bottom .f-lower{top: 168px;}
.g-footer .m-bottom .f-links{position: absolute; left: 557px; top: 82px;}
.g-footer .m-bottom .f-us{position: absolute; top: 82px; left: 766px;}
.g-footer .m-bottom .f-more{position: absolute; top: 82px; left: 900px;}

.g-footer .m-bottom a:hover{text-decoration: underline;}
 /* loginMask布局 */ 
.m-login .login-Mask{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.8; filter\0: alpha(opacity:80);}

/* login窗口样式 */ 
.m-login .f-login{ position: fixed; z-index: 1000; top: 50%; left: 50%; width: 390px; height: 290px; background-color: white; margin-left: -195px; margin-top: -145px;}
.m-login .f-login form{width: 100%; height: 100%;}
.m-login .f-login fieldset{float: left; margin: 18px auto 0;}
.m-login .f-login .legend{float: left; margin-left: 40px; margin-top: 30px; height: 20px; color: #444444; font-size: 18px; font-weight: bold; line-height: 20px;}
.m-login .f-login .container{width: 295px; height: 45px; box-sizing: border-box; margin-left: 40px;}
.m-login .f-login .input{float: left; line-height: 45px; margin-left: 0px; font-size: 16px; text-indent: 11px;}
.m-login .f-login .f-passWord{margin-top: 15px;}
.m-login .f-login .f-button{margin-top: 30px; text-indent: 0px; border: none; color: #ffffff; background: url(../image/sprite2.png) 0 -377px repeat-x;}
.m-login .f-login .f-close{float: right; margin: 10px 8px auto auto; width: 10px; height: 10px; cursor: pointer; background: url(../image/sprite.png) -355px -7px no-repeat;}

/* 课程弹窗显示 */
.m-floatWin{position: absolute; z-index: 100; width: 480px; background-color: #ffffff; font-size: 12px;line-height: 20px; color: #666666; box-shadow: 1px 1px 4px #C1BEBF, 1px 1px 4px #C1BEBF;}
.m-floatWin .floatImg{float: left; margin-top: 11px; margin-left: 11px; width: 225px; height: 124px;}
.m-floatWin .rightSide{float: left; margin-left: 19px; width: 225px; height: 124px;}
.m-floatWin .botDes{width: 426px; margin-top: 155px; padding: 17px 33px 19px 21px; font-size: 14px; line-height: 24px; color: #666666; background-color: #F6F6F6;}
.m-floatWin .rightSide .ft-title{margin-top: 14px; font-size: 18px; line-height: 20px; color: #333333;}
.m-floatWin .rightSide .ft-num{margin-top: 13px; text-indent: 15px; margin-bottom: 11px; background: url(../image/sprite2.png) -228px -19px no-repeat;}

/* 表单错误信息提示 */
.j-error{border-color: #FF0000 !important; background-color: #FFE7E7 !important;}
.j-disabled{cursor: default; background: none !important;background-color: #ddd !important;}
/* 特殊效果(如阴影，选中状态) */
.j-shadow{box-shadow: 1px 1px 2px #ecebeb, -1px 1px 2px #ecebeb;}
.j-selected{color: #F5FAF3; background: url(../image/sprite.png) -8px -50px no-repeat !important;}
.j-selectpage{color: #39a030 !important;}

.j-shadow:hover{color: #39a030; box-shadow: 1px 1px 4px #C1BEBF;}
.j-text:hover{color: #39a030;}
/* 动画效果支持 */
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.animated {-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {-webkit-animation-name: zoomIn; animation-name: zoomIn;}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {-webkit-animation-name: zoomOut; animation-name: zoomOut;}
/* 以下为@media响应式布局方案 */

/* 当屏幕小于960px时，导航栏，课程界面，产品展示宽度改变 */
@media screen and (max-width: 1205px){
	.g-mbd .m-left .cl-list{width: 735px;}
	.g-nav,
	.g-footer .m-bottom,
	.g-header .content-fix,
	.g-mbd .j-middle,
	.g-tpbd .m-prdt .f-prdt{width: 960px;}

	.g-footer .m-bottom .f-logo,
	.g-footer .m-bottom .f-copyright,
	.g-footer .m-bottom .f-lower{left: 0px;}
}
/* 产品展示界面，行宽，格宽的改变 */
/* 字体框行宽 */
@media screen and (max-width: 1205px){
	.g-tpbd .m-prdt .para{width: 170px;}
	.g-tpbd .m-prdt .f-list{width: 335px;}
	.g-tpbd .m-prdt .f-list:last-child{width: auto;}
	.g-tpbd .m-prdt .more{margin-top: 65px;}
	.g-tpbd .m-prdt{height: 318px;}
}
/* 当画面小于等于960px时，控制背景颜色，背景图片覆盖全部的位置 */
@media screen and (max-width: 1000px){
	.body{width: 1000px;}
}

